In [12]:
!ls -la /data/use-cases/service-car-rides/2018-02-trips/

total 2144
drwxr-xr-x 5 root root     160 Feb 27 14:58 .
drwxr-xr-x 3 root root      96 Feb 27 14:58 ..
-rw-r--r-- 1 root root  445608 Feb 27 14:29 test.csv.bz2
-rw-r--r-- 1 root root 1362859 Feb 27 14:29 train.csv.bz2
-rw-r--r-- 1 root root  384222 Feb 27 14:45 trip_rating.csv.bz2

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv ('/data/use-cases/service-car-rides/2018-02-trips/train.csv.bz2')
df.head()

,Unnamed: 0,customer_id,driver_id,creation_date,booking_source,car_type,estimated_distance,distance_travelled,distance_travelled_while_moving,estimated_duration,duration_time,wait_time_initial,wait_time_in_journey,estimated_price,price,is_cancelled,rating,was_rated
0,0,52400320,1838640,2017-09-08 11:32:05.000,1,1,0.0,7.28666,7.17712,0,11,18,2,0.0,17.375184,0,4,1
1,1,29858456,1793472,2017-09-08 12:42:33.000,1,1,0.0,1.25836,1.05664,0,4,1,1,0.0,8.507064,0,4,1
2,2,30828968,1726788,2017-09-08 12:46:42.000,2,1,0.0,14.57820,14.44060,0,16,3,2,0.0,19.745205,0,5,1
3,3,47974768,1181696,2017-09-08 13:52:35.000,2,1,0.0,1.51911,1.18684,0,8,0,5,0.0,10.968003,0,0,0
4,4,59503764,2063752,2017-09-08 14:18:47.000,2,1,0.0,11.09320,10.67240,0,19,1,4,0.0,17.595398,0,5,1

In [14]:
df.describe()

,Unnamed: 0,customer_id,driver_id,booking_source,car_type,estimated_distance,distance_travelled,distance_travelled_while_moving,estimated_duration,duration_time,wait_time_initial,wait_time_in_journey,estimated_price,price,is_cancelled,rating,was_rated
count,51083.000000,5.108300e+04,5.108300e+04,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000,51083.000000
mean,25541.000000,3.701478e+07,1.581080e+06,1.509817,1.111348,0.917110,6.810667,6.292355,1.929370,16.265392,2.471370,6.056301,1.681055,13.718933,0.042774,3.263121,0.682752
std,14746.536237,1.831212e+07,4.461198e+05,0.506677,0.446606,4.409016,6.671300,6.493241,6.426472,14.043821,2.960479,8.679217,5.413482,4.628049,0.202348,2.297473,0.465410
min,0.000000,4.092000e+05,5.093000e+05,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-34.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12770.500000,2.047212e+07,1.301384e+06,1.000000,1.000000,0.000000,3.199195,2.815185,0.000000,8.000000,0.000000,2.000000,0.000000,10.860325,0.000000,0.000000,0.000000
50%,25541.000000,3.970655e+07,1.720492e+06,2.000000,1.000000,0.000000,5.358200,4.852870,0.000000,13.000000,2.000000,4.000000,0.000000,12.674608,0.000000,5.000000,1.000000
75%,38311.500000,5.403015e+07,1.953104e+06,2.000000,1.000000,0.000000,8.565545,7.915150,0.000000,21.000000,3.000000,8.000000,0.000000,16.287307,0.000000,5.000000,1.000000
max,51082.000000,6.388676e+07,2.203644e+06,4.000000,6.000000,347.556000,325.504000,324.568000,232.000000,666.000000,73.000000,524.000000,72.522902,50.540852,1.000000,5.000000,1.000000

In [16]:
car_types = df['car_type'].unique()
booking_sources = df['booking_source'].unique()

print ('Car types: {}'.format(str(car_types)))
print ('Booking sources: {}'.format(str(booking_sources)))

Car types: [1 2 3 4 5 6]
Booking sources: [1 2 3 4]

In [18]:
customer_id_list = df['customer_id'].unique()
driver_id_list = df['driver_id'].unique()

print ('Nb of trips: {}; nb of unique customers: {}; nb of unique drivers: {}'.format(len(df), len(customer_id_list), len(driver_id_list)))

Nb of trips: 51083; nb of unique customers: 9000; nb of unique drivers: 5676